.square {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(194, 195, 199);
  box-sizing: border-box;
  background-color: aquamarine;
}

.red {
  background-color: red;
}
.gray {
  background-color: gray;
}